apiVersion: v1
kind: Namespace
metadata:
  name: grafana
  labels:
    managed-by: flux
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana-k8s-monitoring
  namespace: grafana
spec:
  chart:
    spec:
      chart: k8s-monitoring
      version: "^1"
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  interval: 1m
  valuesFrom:
    - kind: Secret
      name: graphanacloud-secret
      valuesKey: token
      targetPath: externalServices.prometheus.basicAuth.password
    - kind: Secret
      name: graphanacloud-secret
      valuesKey: token
      targetPath: externalServices.loki.basicAuth.password
    - kind: Secret
      name: graphanacloud-secret
      valuesKey: token
      targetPath: externalServices.tempo.basicAuth.password
  install:
    createNamespace: true
    remediation:
      retries: 3
  values:
    cluster:
      name: cluster1
    externalServices:
      prometheus:
        host: https://prometheus-prod-32-prod-ca-east-0.grafana.net
        basicAuth:
          username: "1065506"
      loki:
        host: https://logs-prod-018.grafana.net
        basicAuth:
          username: "634358"
      tempo:
        host: https://tempo-prod-13-prod-ca-east-0.grafana.net:443
        basicAuth:
          username: "630862"
    metrics:
      enabled: true
      alloy:
        metricsTuning:
          useIntegrationAllowList: true
      cost:
        enabled: true
      kepler:
        enabled: true
      node-exporter:
        enabled: true
    logs:
      enabled: true
      pod_logs:
        enabled: true
      cluster_events:
        enabled: true
    traces:
      enabled: true
    receivers:
      grpc:
        enabled: true
      http:
        enabled: true
      zipkin:
        enabled: true
      grafanaCloudMetrics:
        enabled: false
    opencost:
      enabled: true
      opencost:
        exporter:
          defaultClusterId: cluster1
        prometheus:
          external:
            url: https://prometheus-prod-32-prod-ca-east-0.grafana.net/api/prom
    kube-state-metrics:
      enabled: true
    prometheus-node-exporter:
      enabled: true
    prometheus-operator-crds:
      enabled: true
    kepler:
      enabled: true
    alloy: {}
    alloy-events: {}
    alloy-logs: {}
