---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: int-ingress-nginx
  namespace: flux-system
spec:
  targetNamespace: int-ingress-nginx
  chart:
    spec:
      chart: ingress-nginx
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: flux-system
  install:
    crds: Create
  interval: 10m0s
  releaseName: int-ingress-nginx
  upgrade:
    crds: CreateReplace
  values:
    controller:
      allowSnippetAnnotations: true
      replicaCount: 2
      #autoscaling:
        #enabled: true
        #minReplicas: 2
        #maxReplicas: 3
 
      ingressClassResource:
        name: internal-nginx  # default: nginx
        enabled: true
        default: false
        ingressClassByName: true
        controllerValue: "k8s.io/internal-nginx"
      service:
        loadBalancerIP: "10.10.10.65"
        #externalTrafficPolicy: Local
        externalTrafficPolicy: Cluster
      config:
        use-forwarded-headers: "true"
        compute-full-forwarded-for: "true"
        proxy-body-size: "500m"
        client-body-buffer-size: 500M
    spec.controller: nginx.org/internal-nginx